{% extends "../templates/header.jinja2" %}

{% block inner_head %}
    <title>Prototype | Demo 1</title>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="container mt-4" style = "background-color: whitesmoke; padding: 50px; border-color: darkblue; border-width: 4px; border-style: solid; margin: 10px">
            <h1 class="text-center mb-3">Register</h1>
            <form action="/register/" method="POST" class="mb-4">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <input type="submit" value="Create Account" class="btn btn-primary btn-block">
                <a href="/demo1/" class="btn btn-secondary btn-block">Back</a>
            </form>
            <h4><b>Members:</b></h4>
            <ul class="list-group">
                {% for i in members%}
                <li class ="list-group-item">Email: {{i['email']}} | Password: {{i['password']}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}